# ProFlow: Бинарная классификация

In [2]:
# Root directory input
import sys
sys.path.append('../')

# Imports
from proflow.data.data_loader import DataLoader
from proflow.automl.tabular_tasks import FlowML

from proflow.data.data_processor import DataProcessor

%load_ext autoreload
%autoreload 2

## Load data

In [3]:
loader = DataLoader(
    df_dir="../../../datasets/pochta_rf/train_dataset.csv",
    dtype={"index_oper": "str"},
    label="label",
)

train_df, test_df = loader.data_load()

+-----------+-----------+-----------+
| Partition | [0]_shape | [1]_shape |
+-----------+-----------+-----------+
|  train_df |   35000   |     29    |
|  test_df  |   15000   |     29    |
+-----------+-----------+-----------+
              id oper_type + oper_attr index_oper     type  priority  \
1325012  9478222               1041_-1     140980      Цех    7503.0
1504753  9457655               1019_-1     108978  Участок    7506.0
4263317  6403950               1022_-1     163960      МСЦ    7503.0
1648576  9198874               1020_-1     363750        П    7503.0
1477095  1274433               1041_-1     102971      Цех    7506.0

        is_privatecategory  class is_in_yandex is_return  weight  ...  \
1325012                  N    0.0            Y         N    48.0  ...
1504753                  N    0.0            N         N    87.0  ...
4263317                  N    0.0            Y         N   387.0  ...
1648576                  N    3.0            Y         N   135.0  ...
1477095                  N    0.0            N         N    56.0  ...

         dist_qty_oper_login_1  total_qty_oper_login_1  \
1325012                  118.0              16458125.0
1504753                  207.0               3179099.0
4263317                   71.0               1852521.0
1648576                    4.0                 36127.0
1477095                  184.0              67541214.0

         total_qty_oper_login_0  total_qty_over_index_and_type  \
1325012                 30726.0                     16488851.0
1504753                745175.0                      3924274.0
4263317                169531.0                      2022052.0
1648576                 38699.0                        74826.0
1477095                  7870.0                     67549084.0

         total_qty_over_index  is_wrong_sndr_name is_wrong_rcpn_name  \
1325012           205566092.0                   0                  0
1504753            23580162.0                   0                  0
4263317            19494424.0                   0                  0
1648576              745756.0                   0                  0
1477095            72981134.0                   0                  0

         is_wrong_phone_number  is_wrong_address  label
1325012                      1                 0      0
1504753                      0                 0      0
4263317                      0                 0      0
1648576                      0                 0      0
1477095                      0                 0      0

[5 rows x 29 columns]

## Prepare data

In [4]:
# Data Processing
train_pdp = DataProcessor(train_df)
test_pdp = DataProcessor(test_df)

train_df_prepared = train_pdp._text_cols_to_hashed_cols()
test_df_prepared = test_pdp._text_cols_to_hashed_cols()

oper_type + oper_attr type: object
index_oper type: object
type type: object
is_privatecategory type: object
is_in_yandex type: object
is_return type: object
name_mfi type: object
oper_type + oper_attr type: object
index_oper type: object
type type: object
is_privatecategory type: object
is_in_yandex type: object
is_return type: object
name_mfi type: object

In [5]:
print(
    "Train Shape:", train_df_prepared.shape,
    "Train Shape:", test_df_prepared.shape,
)

Train Shape: (35000, 29) Train Shape: (15000, 29)

In [6]:
train_df_prepared.head()

,id,oper_type + oper_attr,index_oper,type,priority,is_privatecategory,class,is_in_yandex,is_return,weight,...,dist_qty_oper_login_1,total_qty_oper_login_1,total_qty_oper_login_0,total_qty_over_index_and_type,total_qty_over_index,is_wrong_sndr_name,is_wrong_rcpn_name,is_wrong_phone_number,is_wrong_address,label
1325012,9478222,32,13,57,7503.0,78,0.0,55,78,48.0,...,118.0,16458125.0,30726.0,16488851.0,205566092.0,0,0,1,0,0
1504753,9457655,5,54,80,7506.0,78,0.0,78,78,87.0,...,207.0,3179099.0,745175.0,3924274.0,23580162.0,0,0,0,0,0
4263317,6403950,20,25,56,7503.0,78,0.0,55,78,387.0,...,71.0,1852521.0,169531.0,2022052.0,19494424.0,0,0,0,0,0
1648576,9198874,90,20,22,7503.0,78,3.0,55,78,135.0,...,4.0,36127.0,38699.0,74826.0,745756.0,0,0,0,0,0
1477095,1274433,32,34,57,7506.0,78,0.0,78,78,56.0,...,184.0,67541214.0,7870.0,67549084.0,72981134.0,0,0,0,0,0

## Fit model

In [15]:
flowml = FlowML(
    task="binary"
)

flowml.fit(
    train_df=train_df_prepared, 
    label="label",
)

BinaryTabularModels: dict_keys(['LogisticRegression', 'SGDClassifier'])

In [16]:
flowml.predict(
    test_df_prepared,
)